* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homepage {
    background-image: url(../images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    display: flex;
    flex-flow: row nowrap;
   justify-content: space-between;
   padding-top: 10px;

}
nav li {
    display: inline-block;
    align-items: center;
    margin-right: 50px;
    margin-top: 20px;
    list-style-type: none;


}

ul a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
ul a:hover{
    color: #830707;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100vh;
    margin-top: 40vh;

}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    

}

.hero p {
    font-size: 15px;
    color: #fff;
    text-align: center;
}

.hero button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #830707;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
}
.hero a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    white-space:nowrap;
}
.button-1 {
    text-align: center;
    margin-top: 10vh;
}
.hero-1 p {
     font-size: 18px;
    font-family: bold ;
    text-align: center;
    width: 100vh;
    margin-top: 40vh;
}
  /** resposive home page web site --- for mobile**/

  
  @media screen and ( max-width: 768px) {


    header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
    }

    .logo img {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    nav li {
        display: block;
        margin-right: 0;
        margin-top: 20px;
        list-style-type: none;
    }
    ul a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
    }
    ul a:hover{
        color: #830707;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        height: 100vh;
        margin-top: 30vh;
    }
 .hero h1 {
    width: 100%;
    font-weight: bold;
    font-size: 7vw;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    -left: 1vh;
    padding-right: 1vh;
    }
   .hero p {
    
    font-size: 3vw;
    color: #fff;
    text-align: center;
    flex-wrap: nowrap;
    }
    .hero
    .hero-1 p {
        font-size: 2vh;
        font-family: bold ;
        text-align: center;
        width: 100px; 
        margin: auto;
        margin-top: 30vh;
    }
    
    
   .for-mobile {
    display: flex;
    flex-flow: row nowrap;
    justify-content:space-evenly;
    align-items: center;

   }
   .for-mobile .button-icon{
    background-color: transparent;
    border: none;
    width: 50px;
    height: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    padding-top: 25px;
   }
   .for-mobile .menu-icon, .menu-icon::before,.menu-icon::after {
        background-color: whitesmoke;
        width: 50px;
        height: 6px;
        border-radius: 5px;
        position:absolute;
        transition: all 0.5s;
       

   }
   .menu-icon::after, .menu-icon::before {
    content: '';
   }

   .menu-icon::before {
        transform: translate(-20px, -12px);
    }
    .menu-icon::after {
        transform: translate(-20px, 12px);
    }
 
   .menu-icon:hover {
        background-color: #575757;
    }
   .menu-icon {
        cursor: pointer;
    }
    .button-1 {
        text-align: center;
        margin-top: 10vh;
    }
    .navbar {
        display: none ;
        transform-origin:top center;
        animation-name: slide; 
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    :is(.button-icon:active, .button-icon:focus-within) .menu-icon::before {
        transform: translateX(-20px) rotate(45deg);
     }
      :is(.button-icon:active, .button-icon:focus-within) .menu-icon::after {
        transform: translateX(-20px) rotate(-45deg);
       } 
    
       :is(.button-icon:active, .button-icon:focus-within) .menu-icon {
    background-color: transparent;
       }
    
       :is(.button-icon:active, .button-icon:focus-within) nav {
        
           display: block;
       } 
     
    
 /** animation for button-burger */

 @keyframes slide {
    0% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(1.2);
    }
    100% {
        transform: translateY(1);
    }
  }

    
  }

    
   
      
  







 

  