
body {
    display: flex;
    background-color: green;
    
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
    color: red;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    background-color: lightblue;
    overflow-y: auto;
}
